body {
  max-width: 768px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.page-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 55px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 11px;
  outline: 1px solid black;
}
.page-header__logo {
  display: block;
  width: 200px;
  height: 54px;
  background: url("../img/logo-mobile-header2.png") no-repeat;
}
.page-header__logo-2 {
  margin-top: 13px;
  margin-right: auto;
}
@media (min-width: 758px) {
  .page-header {
    height: 90px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .page-header__logo {
    width: 200px;
    height: 90px;
    background: url("../img/logo-tablet.png") no-repeat 0 12px;
  }
}
.main-wrapper {
  width: 280px;
  margin: auto;
  padding: 0 20px 0 20px;
  outline: 1px solid blue;
}
.main-nav__wrapper {
  position: absolute;
  top: 65px;
  right: 0;
  z-index: 2;
  display: flex;
  width: 100%;
}
.main-nav__toggle {
  margin-top: 12px;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  .main-nav__wrapper {
    position: static;
    width: 440px;
    outline: 1px solid blue;
  }
}
.nutrition__header {
  position: relative;
  box-sizing: border-box;
  height: 480px;
  padding-top: 31px;
  color: white;
  background: url("../img/index-can-mobile.png") 50% 167px no-repeat, url("../img/index-background-mobile.jpg") 50% 0 no-repeat;
  background-size: 280px auto, 320px 305px;
  outline: 1px dashed green;
}
.nutrition__intro {
  margin: 0 0 16px 0;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}
.nutrition__slogan {
  margin: 0 0 300px 0;
  padding: 5px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}
.nutrition__to-program {
  position: absolute;
  bottom: 0;
  left: 20px;
  display: block;
  width: calc(100% - 40px);
  margin: auto;
  padding: 11px 0 11px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: #68b738;
}
.nutrition__title-wrapper {
  max-width: 280px;
  margin: auto;
  outline: 1px solid orange;
}
.nutrition__title {
  margin: 56px 0 27px 0;
  padding: 0 0 0 93px;
  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  text-transform: uppercase;
}
.nutrition__description {
  margin: 0;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 22px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.nutrition__catalog {
  display: inline-block;
  width: 241px;
  padding-top: 18px;
  margin-left: 20px;
  margin-bottom: 17px;
  color: black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .nutrition__header {
    height: 807px;
    padding: 0;
    color: black;
    background: url("../img/index-can-tablet.png") 50% 201px no-repeat;
    outline: 1px dashed green;
  }
  .nutrition__intro {
    width: 450px;
    margin-top: 39px;
    margin-left: 87px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    outline: 1px solid black;
  }
  .nutrition__slogan {
    margin-left: 88px;
    padding-top: 26px;
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
  }
  .nutrition__to-program {
    position: absolute;
    bottom: 527px;
    left: 89px;
    display: block;
    width: 245px;
    margin: 0;
    padding: 16px 0 16px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-color: #68b738;
  }
  .nutrition__title-wrapper {
    max-width: 708px;
    margin: auto;
    outline: 1px solid orange;
  }
  .nutrition__title {
    margin: 79px 0 25px 0;
    padding: 0 0 0 53px;
    font-size: 36px;
    font-weight: normal;
    line-height: 37px;
  }
  .nutrition__description {
    width: 343px;
    margin: 0;
    padding: 0 0 0 53px;
    font-size: 16px;
    line-height: 24px;
    outline: 1px solid orange;
  }
  .nutrition__description:nth-child(2) {
    width: 390px;
  }
  .nutrition__catalog {
    width: 241px;
    margin: 0 0 89px 0;
    padding: 56px 0 0 53px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    border-top: none;
  }
}
.explanation__wrapper {
  max-width: 280px;
  margin: 25px auto auto auto;
  outline: 1px dashed orange;
}
.explanation__title {
  margin: 0 0 30px 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}
.explanation__list {
  position: relative;
  margin: 0 0 53px 0;
  padding: 0;
  list-style: none;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.explanation__description {
  margin: 0 0 20px 0;
  padding: 0 0 5px 80px;
  outline: 1px dashed grey;
}
.explanation__description::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .explanation__wrapper {
    min-width: 708px;
    margin: 0;
  }
  .explanation__title {
    margin: 17px 0 0 0;
    font-size: 60px;
    line-height: 60px;
  }
  .explanation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }
  .explanation__description {
    position: relative;
    width: 250px;
    margin: 73px 0 60px 0;
    padding: 112px 74px 0 0;
    outline: 1px dashed grey;
  }
  .explanation__description::before {
    content: "";
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  }
}
.example__wrapper {
  max-width: 280px;
  margin: auto;
  outline: 1px dashed green;
}
.example__title {
  margin: 0 0 26px 0;
  padding-top: 7px;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}
.example__description {
  margin: 0 0 25px 0;
  padding-right: 3px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.example__list-wrapper {
  display: flex;
  flex-direction: row;
}
.example__list {
  width: 100%;
  margin: auto;
  padding: 0;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;
  outline: 1px dashed black;
}
.example__list:first-child {
  margin-right: 10%;
}
.example__value {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 8px;
}
.example__field {
  width: 50%;
  margin: 0;
  padding: 0 20px 0 20px;
  color: #555555;
  text-transform: lowercase;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 12px;
  outline: 1px solid green;
}
.example__cost {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}
.example__slider {
  position: relative;
  width: 100%;
  height: 285px;
  margin-top: 42px;
  background: url("../img/before-mobile.png") no-repeat 50% 0;
  outline: 1px solid yellow;
}
@media (min-width: 768px) {
  .example__wrapper {
    min-width: 708px;
  }
  .example__title {
    margin: 86px 0 65px 0;
    padding-top: 0;
    font-size: 60px;
    line-height: 60px;
  }
  .example__description {
    margin: 0 0 49px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .example__wrapper-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .example__list-wrapper {
    display: flex;
    width: 52%;
  }
  .example__list {
    margin: auto;
    padding: 0;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    line-height: 37px;
    text-transform: uppercase;
    outline: 1px dashed black;
  }
  .example__value {
    padding-top: 10px;
    padding-bottom: 8px;
  }
  .example__field {
    margin: 0;
    padding: 0;
    color: #555555;
    text-transform: lowercase;
    font-size: 14px;
    line-height: 14px;
  }
  .example__cost {
    width: 180px;
    margin-top: 9px;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
  }
  .example__slider {
    height: 572px;
    margin-top: 56px;
    background: url("../img/before-desktop.png") no-repeat 0 0, url("../img/after-desktop.png") no-repeat 100% 0;
    outline: 1px solid yellow;
  }
}
.slider__control {
  position: absolute;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0 40px 0 40px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .slider__control {
    font-size: 20px;
    line-height: 20px;
    padding: 0 70px 0 70px;
  }
  .slider__was {
    border-bottom: 1px dashed #bebebe;
  }
  .slider__now {
    border-bottom: 1px dashed #bebebe;
  }
}
.coordinates__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  margin: 0 auto 23px auto;
}
.coordinates__invitation {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.coordinates__address {
  width: 50%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.coordinates__map {
  width: 100%;
  height: 363px;
}
@media (min-width: 768px) {
  .coordinates__wrapper {
    max-width: 708px;
    margin: 0 auto 23px auto;
  }
  .coordinates__invitation {
    width: 220px;
    padding-left: 41px;
    font-size: 20px;
    line-height: 25px;
    outline: 1px solid grey;
  }
  .coordinates__address {
    width: 190px;
    padding-right: 42px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    outline: 1px solid blue;
  }
  .coordinates__map {
    height: 396px;
    margin-top: 60px;
    outline: 1px solid black;
  }
}
.social {
  max-width: 280px;
  margin: auto;
}
.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 62px;
  margin: 0;
  padding: 0 26% 0 26%;
  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.social__item {
  width: 25px;
  height: 25px;
  background-color: aqua;
}
.social__link {
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .social {
    width: 324px;
    margin-top: 43px;
    margin-bottom: 45px;
  }
  .social__list {
    border: none;
  }
}
.copyright {
  box-sizing: border-box;
  padding: 65px 50px 19px 0;
}
.copyright__link {
  display: block;
  color: #808080;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
}
.page-footer__coordinates {
  margin-top: 65px;
}
.page-footer__logo-wrapper {
  display: block;
  width: 128px;
  height: 24px;
  margin: 39px auto 31px auto;
}
.page-footer__copyright {
  max-width: 280px;
  margin: 12px auto 12px auto;
}
@media (min-width: 768px) {
  .page-footer__coordinates {
    margin-top: 141px;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 708px;
    margin: auto;
  }
  .page-footer__logo-wrapper {
    display: block;
    width: 160px;
    height: 24px;
    margin: 64px 0 0 0;
  }
  .page-footer__copyright {
    max-width: 280px;
    margin: 0;
  }
}
.page-main {
  max-width: 280px;
  margin: auto;
}
.page-main__title {
  margin-top: 17px;
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}
@media (min-width: 768px) {
  .page-main {
    max-width: 708px;
    margin: auto;
  }
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog__item-wrapper {
  display: flex;
}
.catalog__img {
  margin-top: 5px;
}
.catalog__item-right {
  width: 50%;
  margin: 0;
  padding: 0;
}
.catalog__title {
  margin: 25px 0 13px 0;
  padding: 0 65px 0 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.catalog__feature {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.catalog__value {
  text-align: right;
}
.catalog__to-order {
  display: block;
  width: 100%;
  margin: 0 auto 20px auto;
  padding: 10px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #68b738;
}
.catalog__more {
  margin-top: 105px;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.catalog__more-slogan {
  margin: 0 0 30px 0;
  padding: 0;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.catalog__show-all {
  display: block;
  margin: auto;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.extra-goods__title {
  margin: 39px 0 0 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
}
.extra-goods__title .title__text {
  margin-bottom: 16px;
}
.extra-goods__list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.extra-goods__name {
  margin: 15px 0 0 0;
  padding: 15px 0 0 1px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  border-top: 1px solid #cdcdcd;
}
.extra-goods__feature {
  width: 100%;
  margin: 14px 0 14px 0;
  border-collapse: collapse;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.extra-goods__field {
  margin: 0;
  padding: 0;
}
.extra-goods__value {
  margin: 0;
  padding: 0;
  text-align: right;
}
.extra-goods__to-order {
  display: block;
  width: 100%;
  margin: auto;
  padding: 10px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #68b738;
}
.extra-goods__promo {
  height: 289px;
  margin-top: 17px;
  padding-top: 38px;
  background: url("../img/gift.png") 50% 105px no-repeat, url("../img/gift-photo-mobile.png") 50% 40px no-repeat;
  border-top: 1px solid #cdcdcd;
}
.extra-goods__promo-slogan {
  max-width: 170px;
  margin: auto;
  padding: 189px 0 0 0;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.main-form__legend {
  margin: 0;
  padding: 1px 40px 0 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.main-form__form {
  margin-top: 52px;
}
.form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__name-label,
.form__weight-label,
.form__age-label {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
.form__name,
.form__weight,
.form__age {
  display: block;
  width: 50px;
  height: 18px;
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: 5%;
  padding-left: 5%;
  border: none;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}
.form__program-label {
  margin: 0 0 13px 9%;
  padding: 6px 0 6px 0;
}
.form__group {
  margin: 0;
  padding: 0;
  border: none;
}
.form__group legend {
  padding: 0;
}
.form__title {
  margin-top: 12px;
}
.form__email-label,
.form__phone-label {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 19px;
  margin-top: 24px;
}
.form__phone-label {
  margin-top: 38px;
  margin-bottom: 5px;
}
.form__email,
.form__phone {
  display: block;
  width: 50px;
  height: 18px;
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: 5%;
  padding-left: 5%;
  border: none;
}
.form__comment {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0 0 0 17px;
  border: none;
}
.form__extra-wrapper {
  display: flex;
  flex-direction: column;
}
.form__extra-label {
  margin-top: 17px;
  margin-bottom: 6px;
  padding-left: 27px;
}
.form__submit {
  display: block;
  width: 100%;
  margin: 34px auto 0 auto;
  padding: 10px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #68b738;
  border: none;
}
.title {
  display: flex;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}
.title__text {
  flex-shrink: 0;
  width: auto;
  margin-right: 6%;
}
.title__line {
  flex-grow: 1;
  width: 10px;
  height: 3px;
  margin: auto;
  background-color: #68b738;
}
.site-list {
  width: 100%;
  margin: auto;
  padding: 0;
  list-style: none;
  background-color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.site-list__item {
  margin: auto;
  padding: 23px 0 23px 0;
  color: black;
}
.site-list__item a {
  color: black;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 25px;
  }
  .site-list__item {
    margin: 0;
    padding: 32px 0 5px 0;
  }
  .site-list__item--active {
    padding-bottom: 3px;
    border-bottom: 2px solid #68b738;
  }
}
