.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;

  outline: 1px solid green;
}

.catalog__item {
  //outline: 1px solid green;
}

.catalog__item-wrapper {
  display: flex;
}

.catalog__img {
  margin-top: 5px;
}

.catalog__item-right {
  width: 50%;

  margin: 0;
  padding: 0;
}

.catalog__title {
  margin: 25px 0 13px 0;
  padding: 0 65px 0 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__feature {
  width: 100%;

  border-collapse: collapse;

  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__field {
  //padding-bottom: -3px;
}

.catalog__value {
  //padding-bottom: -3px;
  text-align: right;
}

.catalog__to-order {
  display: block;

  width: 100%;

  margin: 0 auto 20px auto;
  padding: 10px 0 10px 0;

  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: white;

  background-color: #68b738;
}

.catalog__more {
  margin-top: 105px;
  margin-bottom: 9px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.catalog__more-slogan {
  margin: 0 0 30px 0;
  padding: 0;

  color: #444444;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.catalog__show-all {
  display: block;
  margin: auto;

  color: #444444;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}


@media (min-width: 768px) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    padding: 0 37px 0 37px;
  }
  
  .catalog__item {
    width: 249px;
    height: 500px;
    
    outline: 1px dashed orange;
  }
}