.coordinates__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 280px;

  margin: 0 auto 23px auto;

  outline: 1px dashed green;
}

.coordinates__invitation {
  width: 50%;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  //outline: 1px solid grey;
}

.coordinates__address {
  width: 50%;
  margin: 0;
  padding: 0;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 20px;

  //outline: 1px solid blue;
}

.coordinates__map {
  width: 100%;
  height: 363px;
  //outline: 1px solid black;
}

//768                   768                   768                   768                   

@media (min-width: 768px) {
  .coordinates__wrapper {
    max-width: 708px;

    margin: 0 auto 23px auto;
  }

  .coordinates__invitation {
    width: 220px;

    padding-left: 41px;

    font-size: 20px;
    line-height: 25px;

    outline: 1px solid grey;
  }

  .coordinates__address {
    width: 190px;

    padding-right: 42px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;

    outline: 1px solid blue;
  }

  .coordinates__map {
    height: 396px;

    margin-top: 60px;

    outline: 1px solid black;
  }
}

//1440                    1440                    1440                    1440                    

@media (min-width: 1440px) {
  .coordinates {
    position: relative;
  }
  
  .coordinates__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    
    width: 570px;
    height: 201px;

    margin: 0 0 0 0;
    
    background-color: white;
  }

  .coordinates__invitation {
    width: 165px;

    margin-top: 67px;
    margin-bottom: 59px;
    padding-left: 80px;

    font-size: 20px;
    line-height: 25px;

    outline: 1px solid grey;
  }

  .coordinates__address {
    width: 165px;

    margin-top: 67px;
    padding-right: 80px;

    font-size: 16px;
    line-height: 20px;
    text-align: left;

    outline: 1px solid blue;
  }

  .coordinates__map {
    height: 401px;

    margin-top: 0;

    outline: 1px solid black;
  }
}