.example__wrapper {
  max-width: 280px;
  margin: auto;

  outline: 1px dashed green;
}

.example__title {
  margin: 0 0 26px 0;
  padding-top: 7px;

  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}

.example__description {
  margin: 0 0 25px 0;
  padding-right: 3px;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.example__list-wrapper {
  display: flex;
  flex-direction: row;
}

.example__list {
  width: 100%;

  margin: auto;
  padding: 0;

  text-align: center;

  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;

  outline: 1px dashed black;
}

.example__list:first-child {
  margin-right: 10%;
}

.example__value {
  width: 50%;

  padding-top: 10px;
  padding-bottom: 8px;
}

.example__field {
  width: 50%;
  margin: 0;

  color: #555555;
  text-transform: lowercase;

  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 12px;

  outline: 1px solid green;
}

.example__cost {
  //margin-bottom: 29px;

  text-align: center;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 20px;
}

.example__slider {
  position: relative;
  width: 100%;
  height: 285px;

  margin-top: 42px;

  background: url("../img/before-mobile.png") no-repeat 50% 0;

  outline: 1px solid yellow;
}
