.example__wrapper {
  max-width: 280px;
  margin: auto;

  outline: 1px dashed green;
}

.example__title {
  margin: 0 0 26px 0;
  padding-top: 7px;

  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}

.example__description {
  margin: 0 0 25px 0;
  padding-right: 3px;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.example__list-wrapper {
  display: flex;
  flex-direction: row;
}

.example__list {
  width: 100%;

  margin: auto;
  padding: 0;

  text-align: center;

  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;

  outline: 1px dashed black;
}

.example__list:first-child {
  margin-right: 10%;
}

.example__value {
  width: 50%;

  padding-top: 10px;
  padding-bottom: 8px;
}

.example__field {
  width: 50%;

  margin: 0;
  padding: 0 20px 0 20px;

  color: #555555;
  text-transform: lowercase;

  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 12px;

  outline: 1px solid green;
}

.example__cost {
  //margin-bottom: 29px;

  text-align: center;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 20px;
}

.example__slider {
  position: relative;
  width: 100%;
  height: 285px;

  margin-top: 42px;

  background: url("../img/before-mobile.png") no-repeat 50% 0;

  outline: 1px solid yellow;
}

//768                   768                   768                   768                   768                   

@media (min-width: 768px) {
  .example__wrapper {
    min-width: 708px;
  }

  .example__title {
    margin: 86px 0 65px 0;
    padding-top: 0;

    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    margin: 0 0 49px 0;

    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__list-wrapper {
    display: flex;

    width: 52%;
  }

  .example__list {

    margin: auto;
    padding: 0;

    text-align: center;

    font-size: 30px;
    font-weight: normal;
    line-height: 37px;
    text-transform: uppercase;

    outline: 1px dashed black;
  }

  .example__value {

    padding-top: 10px;
    padding-bottom: 8px;
  }

  .example__field {
    margin: 0;
    padding: 0;

    color: #555555;
    text-transform: lowercase;

    font-size: 14px;
    line-height: 14px;

  }

  .example__cost {
    width: 180px;

    margin-top: 9px;

    text-align: right;
    font-size: 20px;
    line-height: 30px;
  }

  .example__slider {
    height: 572px;

    margin-top: 56px;

    background:
            url("../img/before-desktop.png") no-repeat 0 0,
            url("../img/after-desktop.png") no-repeat 100% 0;

    outline: 1px solid yellow;
  }
}

//1440                    1440                    1440                    1440                    

@media (min-width: 1440px) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
    
    max-width: 1300px;

    margin-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }  

  .example__title {
    margin: 58px 0 0 0;
    padding-top: 0;
  }

  .example__description {
    width: 450px;
    margin: 143px 0 0 0;
  }

  .example__wrapper-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 370px;
  }

  .example__list-wrapper {
    display: flex;

    width: 100%;
    
    margin-top: 74px;
  }

  .example__cost {
    width: 330px;

    margin-top: 45px;

    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }
  
  .example__cost-numbers {
    padding-left: 60px;
  }

  .example__slider {
    width: 690px;
    height: 652px;
    
    flex-grow: 0;
    flex-shrink: 0;

    margin-top: 0px;

    background:
            url("../img/before-desktop2.png") no-repeat 40px 0,
            url("../img/after-desktop.png") no-repeat 385px 0;
    //background-size: contain;

    outline: 1px solid yellow;
  }

}
