.explanation__wrapper {
  max-width: 280px;

  margin: 25px auto auto auto;

  outline: 1px dashed orange;
}

.explanation__title {
  //margin: 28px 0 0 0;
  margin: 0 0 30px 0;
  //margin-bottom: 32px;

  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}

.explanation__list {
  position: relative;

  margin: 0 0 53px 0;
  padding: 0;

  list-style: none;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.explanation__description {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 5px 80px;

  outline: 1px dashed grey;
}

.explanation__description::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;

  width: 60px;
  height: 60px;

  background-color: #68b738;
}

.explanation__description--healthy::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 17px;
  display: block;
  
  width: 26px;
  height: 29px;

  background: url("/img/Sprite.png") -216px -318px;
}

.explanation__description--powder::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  display: block;

  width: 30px;
  height: 32px;

  background: url("/img/Sprite.png") -239px -284px;
}

.explanation__description--intake::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 17px;
  display: block;

  width: 24px;
  height: 31px;

  background: url("/img/Sprite.png") -245px -318px;
}

.explanation__description--interval::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 17px;
  display: block;

  width: 27px;
  height: 32px;

  background: url("/img/Sprite.png") -146px -349px;
}

//768                   768                   768                   768                   768                   

@media (min-width: 768px) {
  .explanation__wrapper {
    min-width: 708px;
    margin: 0;
  }

  .explanation__title {
    margin: 17px 0 0 0;

    font-size: 60px;
    line-height: 60px;
  }

  .explanation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
  }

  .explanation__description {
    position: relative;
    width: 250px;

    margin: 73px 0 60px 0;
    padding: 112px 74px 0 0;

    outline: 1px dashed grey;
  }

  .explanation__description--healthy::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 27px;
    display: block;

    width: 26px;
    height: 29px;

    background: url("/img/Sprite.png") -216px -318px;
  }

  .explanation__description--powder::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 25px;
    display: block;

    width: 30px;
    height: 32px;

    background: url("/img/Sprite.png") -239px -284px;
  }

  .explanation__description--intake::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 27px;
    display: block;

    width: 24px;
    height: 31px;

    background: url("/img/Sprite.png") -245px -318px;
  }

  .explanation__description--interval::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 27px;
    display: block;

    width: 27px;
    height: 32px;

    background: url("/img/Sprite.png") -146px -349px;
  }

  .explanation__description::before {
    content: "";
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;

  }
}


//1440                    1440                    1440                    1440                    


@media (min-width: 1440px) {
  .explanation__wrapper {
    max-width: 1300px;
    
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .explanation__title {
    margin: 78px 0 0 0;

    font-size: 60px;
    line-height: 60px;
  }

  .explanation__list {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
  }

  .explanation__description {
    position: relative;
    width: 245px;

    margin: 70px 0 0 0;
    padding: 113px 0 0 0;

    outline: 1px dashed grey;
  }

  .explanation__description::before {
    content: "";
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;

  }
}