.extra-goods__title {
  margin: 39px 0 0 0;
  padding: 0;

  font-size: 24px;
  font-weight: normal;
  line-height: 24px;

  //outline: 1px solid black;
}

.extra-goods__title .title__text {
  margin-bottom: 16px;
}

.extra-goods__list {
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.extra-goods__name {
  margin: 15px 0 0 0;
  padding: 15px 0 0 1px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  border-top: 1px solid #cdcdcd;
}

.extra-goods__feature {
  width: 100%;

  margin: 14px 0 14px 0;

  border-collapse: collapse;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;

  //outline: 1px dashed black;
}

.extra-goods__field {
  margin: 0;
  padding: 0;
}

.extra-goods__value {
  margin: 0;
  padding: 0;

  text-align: right;
}

.extra-goods__to-order {
  display: block;

  width: 100%;

  margin: auto;
  padding: 10px 0 10px 0;

  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: white;

  background-color: #68b738;
}

.extra-goods__promo {
  height: 289px;

  margin-top: 17px;
  padding-top: 38px;
  background: url("../img/gift.png") 50% 105px no-repeat,
              url("../img/gift-photo-mobile.png") 50% 40px no-repeat;
  border-top: 1px solid #cdcdcd;
}

.extra-goods__promo-slogan {
  max-width: 170px;

  margin: auto;
  padding: 189px 0 0 0;

  color: white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}