.form {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__name-label,
.form__weight-label,
.form__age-label {
  display: flex;
  flex-wrap: nowrap;

  margin-bottom: 40px;
}

.form__name,
.form__weight,
.form__age {
  display: block;
  width: 50px;
  height: 18px;
  flex-shrink: 1;
  flex-grow: 1;

  margin-left: 5%;
  padding-left: 5%;

  border: none;
}

.form__wrapper {
  display: flex;
  flex-direction: column;

  margin-top: 14px;
}

.form__program-label {
  margin: 0 0 13px 9%;
  padding: 6px 0 6px 0;
}

.form__group {
  margin: 0;
  padding: 0;

  border: none;
}

.form__group legend {
  padding: 0;
}

.form__title {
  margin-top: 12px;
}


.form__email-label,
.form__phone-label {
  display: flex;
  flex-wrap: nowrap;

  margin-bottom: 19px;
  margin-top: 24px;
}

.form__phone-label {
  margin-top: 38px;
  margin-bottom: 5px;
}

.form__email,
.form__phone {
  display: block;
  width: 50px;
  height: 18px;
  flex-shrink: 1;
  flex-grow: 1;

  margin-left: 5%;
  padding-left: 5%;

  border: none;
}

.form__comment {
  box-sizing: border-box;
  width: 100%;
  height: 150px;

  margin: 0;
  padding: 0 0 0 17px;

  border: none;
}

.form__extra-wrapper {
  display: flex;
  flex-direction: column;
}

.form__extra-label {
  margin-top: 17px;
  margin-bottom: 6px;
  padding-left: 27px;
}

.form__submit {
  display: block;

  width: 100%;

  margin: 34px auto 0 auto;
  padding: 10px 0 10px 0;

  text-align: center;
  text-transform: uppercase;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;

  background-color: #68b738;
  border: none;
}




