.main-form {
  //outline: 1px dashed black;
}

.main-form__legend {
  margin: 0;
  padding: 1px 40px 0 0;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-form__form {
  margin-top: 52px;

  //outline: 2px solid orange;
}