.main-nav__wrapper {
  position: absolute;
  top: 65px;
  right: 0;
  z-index: 2;
  display: flex;

  width: 100%;
}

.main-nav__toggle {
  margin-top: 12px;
  padding: 0;
  //background-image: url("img/mobile-menu.png;");
}


@media (min-width: 768px) {
  .main-nav__toggle {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  .main-nav__wrapper {
    position: static;
    width: 440px;

    //padding-left: 50px;

    outline: 1px solid blue;
  }
}


@media (min-width: 1440px) {
  .main-nav__wrapper {
    position: static;
    
    box-sizing: border-box;
    width: 535px;

    padding-left: 16px;
    padding-right: 40px;
    
    outline: 1px solid blue;
  }
}