.nutrition__header {
  position: relative;
  box-sizing: border-box;
  height: 480px;

  padding-top: 31px;

  color: white;

  background:
          url("../img/index-can-mobile.png") 50% 167px  no-repeat,
          url("../img/index-background-mobile.jpg") 50% 0 no-repeat;
  background-size: 280px auto, 320px 305px;
  //outline: 1px dashed green;
}

.nutrition__intro {
  margin: 0 0 16px 0;
  //padding: 5px;

  text-align: center;
  font-size: 36px;
  line-height: 36px;

  //outline: 1px solid white;
}

.nutrition__slogan {
  margin: 0 0 300px 0;
  padding: 5px 0 0 0;

  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}

.nutrition__to-program {
  position: absolute;
  bottom: 0;
  left: 20px;
  display: block;

  width: calc(100% - 40px);

  margin: auto;
  padding: 11px 0 11px 0;

  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: white;

  background-color: #68b738;
}

.nutrition__to-program:hover {
  background-color: #5eaa2f;
}

.nutrition__to-program:active {
  color: #8fc46e;
  background-color: #5eaa2f;
}

.nutrition__title-wrapper {
  max-width: 280px;
  margin: auto;

  //outline: 1px solid orange;
}

.nutrition__title {
  position: relative;
  margin: 56px 0 27px 0;
  padding: 0 0 0 93px;

  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  text-transform: uppercase;
}

.nutrition__title::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 22px;
  display: block;

  width: 50px;
  height: 50px;

  background: url("/img/Sprite.png") -206px -178px;
}

.nutrition__title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  width: 50px;
  height: 68px;
}

.nutrition__title--lose-weight::after {
  top: -6px;
  left: 30px;
  
  width: 36px;
  height: 50px;
  
  background: url("/img/Sprite.png") -206px -232px;
}

.nutrition-title--get-weight::after {
  top: 5px;
  left: 12px;

  width: 68px;
  height: 29px;

  background: url("/img/Sprite.png") -146px -318px;
}


.nutrition__description {
  margin: 0;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 22px;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.nutrition__catalog {
  position: relative;
  display: inline-block;
  width: 241px;

  padding-top: 18px;
  margin-left: 20px;
  margin-bottom: 17px;

  color: black;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;
}

.nutrition__catalog::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 95px;
  display: block;

  width: 25px;
  height: 12px;

  background: url("/img/Sprite.png") -244px -253px;
}

.nutrition__catalog:active {
  opacity: 0.3;
}

//768                   768                   768                   768                   768                   768                   

@media (min-width: 768px) {
  .nutrition__header {
    height: 807px;

    padding: 0;

    color: black;

    background: url("../img/index-can-tablet.png") 50% 201px no-repeat;
    //outline: 1px dashed green;
  }

  .nutrition__intro {
    width: 450px;

    margin-top: 39px;
    margin-left: 87px;

    text-align: left;
    font-size: 60px;
    line-height: 60px;

    //outline: 1px solid black;
  }

  .nutrition__slogan {
    margin-left: 88px;
    padding-top: 26px;

    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
  }

  .nutrition__to-program {
    position: absolute;
    bottom: 527px;
    left: 89px;
    display: block;

    width: 245px;

    margin: 0;
    padding: 16px 0 16px 0;

    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    color: white;

    background-color: #68b738;
  }

  //После фонновой банки

  .nutrition__title-wrapper {
    max-width: 708px;
    margin: auto;

    //outline: 1px solid orange;
  }

  .nutrition__title {
    margin: 79px 0 25px 0;
    padding: 0 0 0 53px;

    font-size: 36px;
    font-weight: normal;
    line-height: 37px;
  }

  .nutrition__title::before {
    content: "";
    position: absolute;
    top: 15px;
    left: auto;
    right: 60px;
    display: block;

    width: 200px;
    height: 200px;

    background: url("/img/Sprite.png") -3px -115px;
  }

  .nutrition__title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;

  }

  .nutrition__title--lose-weight::after {
    top: 3px;
    left: auto;
    right: 91px;
    
    width: 140px;
    height: 194px;

    background: url("/img/Sprite.png") -3px -318px;
  }

  .nutrition-title--get-weight::after {
    top: 59px;
    left: auto;
    right: 28px;

    width: 268px;
    height: 112px;

    background: url("/img/Sprite.png") -3px -0px;
  }

  .nutrition__description {
    width: 343px;

    margin: 0;
    padding: 0 0 0 53px;

    font-size: 16px;
    line-height: 24px;

    //outline: 1px solid orange;
  }

  .nutrition__description:nth-child(2) {
    //width: 390px;
  }

  .nutrition__catalog {
    width: 241px;

    margin: 0 0 89px 0;
    padding: 56px 0 0 53px;

    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    border-top: none;
  }

  .nutrition__catalog::after {
    top: 61px;
    left: 183px;

    background: url("/img/Sprite.png") -244px -253px;
  }  
}

//1440                    1440                    1440                    1440                    1440                    1440                    

@media (min-width: 1440px) {
  .nutrition__header {
    height: 471px;

    padding: 0;

    color: black;
    background: none;
    //outline: 1px dashed green;
  }

  .nutrition__intro {
    width: 450px;

    margin-top: 89px;
    margin-left: 121px;

    text-align: left;
    font-size: 60px;
    line-height: 60px;
    
    //outline: 1px solid black;
  }

  .nutrition__slogan {
    margin-left: 121px;
    padding-top: 26px;

    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
  }

  .nutrition__to-program {
    position: absolute;
    bottom: 184px;
    left: 121px;
    display: block;

    width: 245px;

    margin: 0;
    padding: 16px 0 16px 0;

    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    color: white;

    background-color: #68b738;
  }

  //После фонновой банки

  .nutrition__title-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    
    margin: 80px auto auto auto;
    padding: 0 40px 0 40px;

    //outline: 1px solid orange;
  }
  
  .nutrition__title-elem {
    min-width: 570px;
    height: 372px;
    
    //margin-left: 40px;
    
    background-color: #f2f2f2;
  }

  .nutrition__title {
    margin: 47px 0 25px 0;
    padding: 33px 0 31px 215px;

    font-size: 36px;
    font-weight: normal;
    line-height: 37px;
  }

  .nutrition__title::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 52px;
    right: auto;
    display: block;

    width: 100px;
    height: 100px;

    background: url("/img/Sprite4.png") -20px -76px;
  }

  .nutrition__title::after {
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    display: block;

  }

  .nutrition__title--lose-weight::after {
    top: 0px;
    left: 65px;
    right: auto;

    width: 70px;
    height: 97px;

    background: url("/img/Sprite4.png") -20px -196px;
  }

  .nutrition-title--get-weight::after {
    top: 27px;
    left: 32px;
    right: auto;

    width: 134px;
    height: 56px;

    background: url("/img/Sprite4.png") -20px -0px;
  }

  .nutrition__description {
    width: 475px;

    margin: 43px 0 0 0;
    padding: 0 0 0 53px;

    font-size: 16px;
    line-height: 24px;

    //outline: 1px solid orange;
  }

  .nutrition__description:nth-child(2) {
    width: 475px;
  }

  .nutrition__catalog {
    width: 241px;

    margin: 31px 0 0 0;
    padding: 0 0 0 53px;

    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    border-top: none;
  }

  .nutrition__catalog::after {
    top: 5px;
    left: 183px;
  }
}