.page-footer__coordinates {
  margin-top: 65px;
}

.page-footer__logo-wrapper {
  display: block;
  width: 128px;
  height: 24px;

  margin: 39px auto 31px auto;
}

.page-footer__copyright {
  max-width: 280px;

  margin: 12px auto 12px auto;
}


@media (min-width: 768px) {
  .page-footer__coordinates {
    margin-top: 141px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    max-width: 708px;

    margin: auto;
  }

  .page-footer__logo-wrapper {
    display: block;
    width: 160px;
    height: 24px;

    margin: 64px 0 0 0;

  }

  .page-footer__copyright {
    max-width: 280px;

    margin: 0;
  }
}

//1440                    1440                    1440                    1440                    

@media (min-width: 1440px) {
  .page-footer__coordinates {
    margin-top: 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    max-width: 1330px;

    margin: auto;
  }

  .page-footer__logo-wrapper {
    display: block;
    //flex-basis: 0;
    width: 160px;
    height: 24px;

    margin: 64px 0 0 0;
    padding-left: 55px;
  }

  .page-footer__copyright {
    max-width: 280px;

    margin-right: 40px;
  }
}