.page-header {
  display: flex;

  height: 55px;

  padding-right: 20px;
  padding-left: 20px;
  padding-top: 11px;

  outline: 1px solid black;
}

.page-header__logo-1 {
  //margin-right: 47px;
  margin-right: 17%;
}

.page-header__logo-2 {
  margin-top: 13px;
  margin-right: auto;
}

.page-header__nav {
  //outline: 1px solid black;
}
