.page-header {
  display: flex;
  justify-content: space-between;
  position: relative;

  height: 55px;

  padding-right: 20px;
  padding-left: 20px;
  padding-top: 11px;

  //outline: 1px dashed orange;
}

.page-header__logo {
  display: block;
  width: 200px;
  height: 54px;

  //background: url("../img/logo-mobile-header2.png") no-repeat;
  
  //outline: 1px solid black;
}

.page-header__logo img:hover {
  opacity: 0.8;
}

.page-header__logo img:active {
  opacity: 0.6;
}

//.page-header__logo-2 {
//  margin-top: 13px;
//  margin-right: auto;
//}

.page-header__nav {
  //position: relative;
  //outline: 1px solid black;
}

//768                 768                 768                 768                 

@media (min-width: 758px) {
  .page-header {
    height: 90px;
    
    padding-right: 30px;
    padding-left: 30px;
  }

  .page-header__logo {
    width: 200px;
    height: 90px;
    
    padding-top: 13px;

    //background: url("../img/logo-tablet.png") no-repeat 0 12px;
  }
}


@media (min-width: 1440px) {
  .page-header {
    margin-top: 31px;
    padding-right: 70px;
    padding-left: 70px;
  }

  .page-header__logo {
    width: 205px;
    margin-left: 40px;

    //background: url("../img/logo-desktop.png") no-repeat 0 12px;
  }
}
