.page-main {
  max-width: 280px;
  margin: auto;

  outline: 1px solid grey;
}

.page-main__title {
  margin-top: 17px;
  margin-bottom: 24px;

  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}